<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">

    <title>DeivizPostes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>

  <body>

<div class="container" id="app"><h2>{{ message }}</h2></br>
    Esta es la info Actual de destino -->
    <div v-if="busquedaActual!=null">
        Parada {{busquedaActual.id}} <br>
        {{busquedaActual.title}} <br>
        Destinos:
        <div v-for="destino in busquedaActual.destinos">
            <div v-if="autobuses.includes(destino.linea)">
              <button type="button" class="btn btn-danger">{{destino.linea}}</button>{{destino.destino}}  - <b>{{destino.primero}} </b>
            </div>           
        </div>
    </br>
    </div>
    <br>Estos son los autobuses que sueles coger y mostraremos info solo de esos:    </br>
    <div class="container">
    <button v-for="auto in autobuses" type="button" class="btn btn-info">{{auto}}</button>&nbsp;&nbsp;&nbsp;
    </div>
    <br>Estos son los destinos que tienes configurados:    </br>

    <div class="container"  v-for="item in postes">
        <a v-bind:href="enlaceParadas+item.Parada+'.json'" target="_blank">{{item.Parada}}</a> 
         {{ item.Nombre}}  
        <button v-on:click="infoParada(item.Parada)" type="button" class="btn btn-success">Info...</button>
        <br>
    </div>
    </div>
    
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>

<script>
  const { createApp } = Vue

  createApp({
    
 
    data() {
      return {
        message: 'DeivizPostes v1.0!',
        enlaceParadas: 'https://www.zaragoza.es/sede/servicio/urbanismo-infraestructuras/transporte-urbano/poste-autobus/tuzsa-',
        busquedaActual : null,
        autobuses: ['33','21','36','CI1','CI2','24'],
        postes : [
            { "Nombre" : "Salir de casa","Parada" : 178,},
            { "Nombre" : "Volver de casa de Madre","Parada" : 3035,},
            {"Nombre" : "Ir al trabajo","Parada" : 853,},
            {"Nombre" : "Volver a casa desde centro","Parada" : 315,},
            {"Nombre" : "Volver del trabajo","Parada" : 716,},
        ]
      }
    },
    methods: {
        infoParada: function (poste) {
            let direction= this.enlaceParadas + poste + '.json';
                fetch(direction)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    this.busquedaActual = data;
                });
           
    }
  }
}).mount('#app')
  
</script>